h1{
    color:cyan
}
*{
        border:solid;
        border-color:#f00;
    }

h2{
    color: #26ff00
}
 
p{
    color:#001ac6
}
.header{
  background-color:black;
  display:flex;
 justify-content:space-between;
}

.grid{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.footer{
    justify-content:flex-end;
    display:flex;
}
 
body{
    background:#808080;
} 

