h1{
    color:aquamarine
}
*{
        border:solid
    }

.header{
  background-color:black;
  display:flex;
 justify-content:space-between;
}

.grid{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.footer{
    justify-content:flex-end;
    display:flex;
}